In [28]:
import os
import sys
import time
import re
import string
import unicodecsv as csv
import unicodedata as un
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [29]:
# Checking the raw file
file = open('./data/aclImdb/train/pos/0_9.txt')
print(file.read())

Bromwell High is a cartoon comedy. It ran at the same time as some other programs about school life, such as "Teachers". My 35 years in the teaching profession lead me to believe that Bromwell High's satire is much closer to reality than is "Teachers". The scramble to survive financially, the insightful students who can see right through their pathetic teachers' pomp, the pettiness of the whole situation, all remind me of the schools I knew and their students. When I saw the episode in which a student repeatedly tried to burn down the school, I immediately recalled ......... at .......... High. A classic line: INSPECTOR: I'm here to sack one of your teachers. STUDENT: Welcome to Bromwell High. I expect that many adults of my age think that Bromwell High is far fetched. What a pity that it isn't!

In [30]:
# Reading train/text files
pd_train = pd.read_csv('./data/aclImdb/train.csv')
pd_test = pd.read_csv('./data/aclImdb/test.csv')

In [31]:
pd_train.head()

   label                                               data
0      1  story of a man who has unnatural feelings for ...
1      1  airport   starts as a brand new luxury  plane ...
2      1  this film lacked something i couldn t put my f...
3      1  sorry everyone    i know this is supposed to b...
4      1  when i was little my parents took me along to ...

In [32]:
train_token_count = 0
test_token_count = 0

for each_row in pd_train['data']:
    train_token_count += len(each_row)
    
for each_row in pd_test['data']:
    test_token_count += len(each_row)

print("Number of tokens in train = ", train_token_count)
print("Number of tokens in test = ", test_token_count)

Number of tokens in train =  32430009
Number of tokens in test =  31661792

In [33]:
print("Avg Number of tokens in each sentence in train = ", train_token_count/pd_train.shape[0])
print("Avg Number of tokens in each sentence in test = ", test_token_count/pd_test.shape[0])

Avg Number of tokens in each sentence in train =  1297.20036
Avg Number of tokens in each sentence in test =  1266.47168

In [34]:
from nltk.util import ngrams
from collections import Counter

# Putting all data into a list
train_tokens_list = pd_train.data.tolist()
test_tokens_list = pd_test.data.tolist()

In [35]:
# Testing if the token_list can be easily tokenized
train_tokens_list[10].split()[5]

'pant'

In [37]:
# Testing if the token_list can be easily tokenized
test_tokens_list[10].split()[5]

'gets'

In [38]:
tokens = []
for each in tokens_list:
    for i in each.split():
        tokens.append(i)

In [39]:
# Checking the most commong trigrams
text_trigrams = ngrams(tokens, 3)

Counter(text_trigrams).most_common(10)

[(('one', 'of', 'the'), 4941),
 (('i', 'don', 't'), 2705),
 (('this', 'movie', 'is'), 2674),
 (('of', 'the', 'film'), 2611),
 (('this', 'is', 'a'), 2379),
 (('it', 's', 'a'), 2376),
 (('a', 'lot', 'of'), 2276),
 (('of', 'the', 'movie'), 2182),
 (('some', 'of', 'the'), 1909),
 (('the', 'film', 'is'), 1872)]

In [40]:
# Checking the most commong trigrams
text_trigrams = ngrams(tokens, 4)

Counter(text_trigrams).most_common(10)

[(('is', 'one', 'of', 'the'), 1100),
 (('the', 'rest', 'of', 'the'), 1060),
 (('one', 'of', 'the', 'most'), 872),
 (('one', 'of', 'the', 'best'), 749),
 (('the', 'end', 'of', 'the'), 746),
 (('i', 'don', 't', 'know'), 703),
 (('this', 'is', 'one', 'of'), 623),
 (('i', 'have', 'ever', 'seen'), 616),
 (('i', 'don', 't', 'think'), 527),
 (('i', 've', 'ever', 'seen'), 521)]

In [49]:
from nltk import TweetTokenizer
from sklearn.feature_extraction.text import TfidfVectorizer

# Create a tokenizer
tokenizer = TweetTokenizer()

In [50]:
vectorizer = TfidfVectorizer(ngram_range=(1, 2), tokenizer=tokenizer.tokenize)

In [52]:
# Merge train and test list
full_text = train_tokens_list + test_tokens_list